* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
.header {
    background-color: black;
    color: white;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;

}

.line {

 background-color: black;
 border-right: 1px white solid;
 height: 18px;

}
.img1 {
    width: 150px; 
    height: 42px;
    margin:auto 17px;
}

.burger {
    width:40px;
    display:none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 100px;


}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(20, 220, 20);
    text-decoration: none;
}

.premiumoffer {
    background-color: #1d75de;
    padding-top: 70px; 
    padding-bottom:70px;
    color: white;
    display:flex;
    flex-direction: column;
}

.gratis {
    font-weight:600;
    font-size:40px;
    text-align: left;
    margin-left: 200px
}

.cancelas {
    text-align: left;
    margin-left: 200px
}

.button1 {
    background-color: black;
    width:fit-content;
    border-radius: 25px;
    text-align:center;
    color: white;
    padding: 15px 30px;
    margin-left: 200px;
}

.button2 {
    background-color: #1d75de;
    width:fit-content;
    border-radius: 25px;
    text-align:center;
    color: white;
    border-color:white;
    padding: 15px 30px;

}
.tyc {
    font-size: 10px;
    margin:20px 200px
}

.tyc a {
    color:white;
}

.tyc a:hover {
    color:white;
}

.articles {
    display: flex;
    justify-content: center;
   gap: 20px;
   text-align: center;
}

h2 {
    text-align: center;
    margin: 20px 
}
.img-section {
    height: 142px;
    width: 142px;
    
}
.articles article {
    width: 20%;
}

.premium-text {
    margin-top: 20px;
    
}
.planes {
    background-color: rgb(225, 227, 227);
    margin-top: 50px;

}
.text-plan {
    text-align: center; 
    margin: 10px 10px 50px 10px
}
.tipos-planes {
    border-color: black;
    border-radius: 10px;
    background-color: white;
    border-style:groove;
    margin-bottom: 100px
    
}
.title-planes {
   padding-top: 20px;
   
}
.text-tipos-planes {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blue {
    background-color: #1d75de;;
    width:fit-content;
    border-radius: 5px;
    text-align: left;
    color: white;
    padding: 5px 
}

.line2 {
    border-top: 2px solid black;
    width: 80%;
    
}


.lista-planes {
    list-style: none;
    margin-bottom: 30px;
    min-height: 100px;
    
   
}

.empezar {
    background-color: black;
    border-radius: 25px;
    text-align: center;
    color: white;
    padding: 10px;
}

.terminos {
    font-size: 10px;
}

.logo2 {
    width: 150px; 
    height: 42px;
    margin:auto 17px;
    padding: 50px
}
footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    color:white;
    flex-wrap: wrap;

}
.titulosfooter {
    color:grey;

}

footer section p {
    
    text-align: left;
}

.menufooter {
    list-style: none;
}
   

.menufooter li {
    padding: 10px 0px 
    
}


.menufooter a {
    color: white;
    text-decoration: none;
}

.menufooter a:hover {
    color: rgb(20, 220, 20);
   
}

.rrss {
    margin-right: 100px;
    display:flex;
    gap:25px
}
.redes {
    height: 50px;
    background-color: white;
}
@media(max-width: 720px) {
    .menu {
        display: none;
    }
    .burger {
        display:block;
        
    }
    .articles {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .articles article {
        display: flex;
        width: 100%;
        align-items: center;
        gap:15px;
        text-align: left;
    }
    
}

